*{
margin: 0;
}
*,
*::before,
*::after
{
box-sizing: border-box;
}
.page
{
display: flex;
flex-direction: column;
min-height: 100vh;
}

.main
{
flex: 1;
}
.body
{
    overflow-x: hidden;
}
/*landingheader*/
.header
{
padding: 12px 128px;
width: 100%;
background: linear-gradient(90deg, #6C5CE7, #A29BFE);
}
.container
{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;

margin: 0 auto;
    
padding: 0px 48px;
    

    

}
/* логотип */
.header_logo
{
width: 70px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 16px;
border-style: solid;
border-color: white;
background: transparent;
}


/* кнопки */
.header_actions
{
justify-content: flex-start;
display: flex;
gap: 24px;
}

.btn
{
width: 100px;
padding: 10px 10px;
border-radius: 20px;
cursor: pointer;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
}

.btn-outline,.btn-primary
{

background: transparent;
border: 1px solid white;
color: white;
}
/*footer*/
.footer
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 48px 0px;
gap: 100px;
width: 100%;
background: #6C5CE7;

}

.content_footer
{
display: flex;
flex-direction: row;
align-items: flex-start;
flex-wrap: wrap;
padding: 0px;
gap: 100px;
}
.content_footer_info
{  
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 64px;
}

.footer-link
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
}

.general_information, .accessibility_information, .policies_information
{
display: flex;
flex-direction: column;
white-space: nowrap;
gap: 24px;


}
.content_footer_info_2
{  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: auto;
}
.language
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
}
.language_label
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 0px;
gap: 10px;
}
.language_select
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #2D3436;
width: 265px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
gap: 10px;
background: #FFFFFF;
border-radius: 8px;
}

.content_question,.content_manage_account,.content_recomendation
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;
}
.box_1
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 220px;
}
.text_question
{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
@media (max-width:1024px)
{
    .content_footer
    {
        flex-direction: column;
        align-items: flex-start;

    }
    .content_footer_info
    {
        flex-wrap: wrap;
        gap: 32px;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 12px 16px;
    }

    .content_footer_info {
        flex-direction: column;
    }

    .language_select {
        width: 100%;
    }
    .hero {
        flex-direction: column;
        text-align: center;
    }
}

.hero
{
width: 100%;
background: #ffffff;
}
.hero_inner
{
display: flex;
justify-content: space-between;
align-items: start;
margin: 0 auto;
max-width: 2200px;
padding: 80px 24px;
gap: 40px
}
.hero_left
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}
.hero_buttons
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}
.text
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 60px;
display: flex;
align-items: center;
color: #000000;
}
.login_google
{
background-color: transparent;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 10px;
gap: 10px;
border: 1px solid #6C5CE7;
border-radius: 52px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #6C5CE7;
}
.login_email
{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 10px;
gap: 10px;
background: #6C5CE7;
border: 1px solid #6C5CE7;
border-radius: 52px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.hero_right
{
    display: flex;
}
.img
{
    width: 100%;
    max-width: 500px;
}
.privacy
{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;
max-width: 300px;
}
.text_privacy
{

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #000000;

}
.not_on
{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;
}
.not_on_text
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: rgba(0, 0, 0, 0.58);
}
.background
{
background: #E7E7E7;
width: 100%;
}
.back_hero_inner
{
display: flex;
justify-content: space-between;
align-items: start;
margin: 0 auto;
max-width: 2200px;
padding: 80px 24px;
gap: 40px

}
.back_hero_left
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;
}
.text_2
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #000000;
}
.back_hero_right
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

}
.group_container
{
display: flex;
justify-content: flex-start;


}


.buttons_group {
    display: flex;
    flex-wrap: wrap;        
    gap: 12px;              
    max-width: 500px;      
}
.buttons_group button
{
background-color: transparent;
padding: 5px 10px;
border: 1px solid #000000;
border-radius: 52px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #000000;
white-space: nowrap;
}

.buttons_group button:hover {
    background: #000;
    color: #fff;
}

.post_vacancy
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;
}
.text_3
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #000000;
}
.post_btn
{
background-color: transparent;
box-sizing: border-box;
padding: 5px 10px;
gap: 10px;
border: 1px solid #000000;
border-radius: 52px;
max-width: 300px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.section_light
{
background: #ffffff;
width: 100%;
}
.section_hero_inner
{
display: flex;
justify-content: space-between;
margin: 0 auto;
max-width: 2200px;
padding: 80px 24px;
}
.text_discover
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
color: #000000;
}
.text_connect
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 60px;
color: #000000;
}
.section_hero_left
{
max-width: 550px;
}
.section_hero_right
{
max-width: 500px;

}

.container_last
{
width: 100%;
background: linear-gradient(360deg, rgba(108, 92, 231, 0.75) 0%, rgba(248, 249, 250, 0.75) 100%);
}
.container_last_inner
{
display: flex;
justify-content: space-between;
margin: 0 auto;
max-width: 2200px;
padding: 80px 24px;
}
.text_last
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 60px;
color: #000000;
}
.container_g
{
max-width: 1100px;
}
.button_end
{
box-sizing: border-box;
padding: 10px 10px;
gap: 10px;
border: 1px solid #000000;
border-radius: 21px;
background-color: transparent;
}
.container_l
{
    max-width: 100px;
    padding: 30px 0px;
}






/*registration*/
.hero_reg
{
background: #ffffff;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.header_logo_reg
{
width: 70px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 16px;
border-style: solid;
border-color: white;
background: #6C5CE7;

}
.container_logo
{
padding: 48px 48px;
}
.hero_reg_inner
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 48px;
background: #FFFFFF;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
border-radius: 20px;
max-width: 500px;
}
.reg_container
{
max-width: 400px;
}
.reg_text
{
width: 400px;
}
.inputs_container
{
display: flex;
flex-direction: column;
gap: 14px;
max-width: 400px;
padding: 20px 0px;
}
.text_welcome
{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #2D3436;
margin: -8px 0px;
}
.text_professional
{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 150%;
color: #2D3436;
}
.inputs
{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 24px;
gap: 10px;
border: 1.5px solid #6C5CE7;
border-radius: 8px;
max-width: 400px;
max-height: 50px;
}
.eye
{
display: flex;
align-items: end;
flex-direction: row;
justify-content: end;
}
.input {
border: none;
outline: none;
width: 100%;
font-size: 16px;
background: transparent;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #6C5CE7;
}
.input_showpassword
{
background: none;
border: none;
cursor: pointer;
font-size: 18px;
color: #6C5CE7;
}
.sign_up_button_container
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
background: #6C5CE7;
border-radius: 8px;
max-width: 450px;
max-height: 50px;
}
.sign_up_button
{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
background-color: transparent;
border: 0;
cursor: pointer;
}
.button_container
{
padding: 20px 0px;
}
.signup_text
{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #2D3436;
}
.privacy_text
{
color: #6C5CE7  ;
}
.or_container
{
max-width: 400px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
}
.continue_container
{
display: flex;
flex-direction: column;
width: 100%;
max-width: 400px;
padding: 20px 0px;
gap: 14px;
}
.continue_google_container
{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 64.5px 11px 64.48px;
gap: 8px;
border: 1.5px solid #6C5CE7;
border-radius: 8px;
max-width: 400px;
max-height: 50px;
}
.continue_google
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;
}
.google_button
{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #2D3436;
background-color: transparent;
border: 0;
cursor: pointer;
}
.signin_button
{
cursor: pointer;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #2D3436;
background-color: transparent;
border: 0;
}
