*{
margin: 0;
}
*,
*::before,
*::after
{
box-sizing: border-box;
}
.page
{
display: flex;
flex-direction: column;
min-height: 100vh;
}

.main
{
flex: 1;
}
.body
{
    overflow-x: hidden;
}
/*landingheader*/
.header
{
padding: 12px 128px;
width: 100%;
background: linear-gradient(90deg, #6C5CE7, #A29BFE);
}
.container
{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;

margin: 0 auto;
    
padding: 0px 48px;
    

    

}
/* логотип */
.header_logo
{
width: 70px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 16px;
border-style: solid;
border-color: white;
background: transparent;
}


/* кнопки */
.header_actions
{
justify-content: flex-start;
display: flex;
gap: 24px;
}

.btn
{
width: 100px;
padding: 10px 10px;
border-radius: 20px;
cursor: pointer;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
}

.btn-outline,.btn-primary
{

background: transparent;
border: 1px solid white;
color: white;
}
/*footer*/
.footer
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 48px 0px;
gap: 100px;
width: 100%;
background: #6C5CE7;

}

.content_footer
{
display: flex;
flex-direction: row;
align-items: flex-start;
flex-wrap: wrap;
padding: 0px;
gap: 100px;
}
.content_footer_info
{  
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 64px;
}

.footer-link
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
}

.general_information, .accessibility_information, .policies_information
{
display: flex;
flex-direction: column;
white-space: nowrap;
gap: 24px;


}
.content_footer_info_2
{  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: auto;
}
.language
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
}
.language_label
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 0px;
gap: 10px;
}
.language_select
{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #2D3436;
width: 265px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
gap: 10px;
background: #FFFFFF;
border-radius: 8px;
}

.content_question,.content_manage_account,.content_recomendation
{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;
}
.box_1
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 220px;
}
.text_question
{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
@media (max-width:1024px)
{
    .content_footer
    {
        flex-direction: column;
        align-items: flex-start;

    }
    .content_footer_info
    {
        flex-wrap: wrap;
        gap: 32px;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 12px 16px;
    }

    .content_footer_info {
        flex-direction: column;
    }

    .language_select {
        width: 100%;
    }
}
